    <nav class="navbar navbarbgcolor navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <ul class="nav navbar-nav navbar-left">
          <li><img src="/xifi-theme/images/new_logo.png" alt="XiFi" height="50px"/><font color="white"><b>XiFi</b></font></li>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
        #set ($first = true)
        #foreach ($nav_item in $nav_items)
			## Ignoring the First Item
			#if($first)
				#set ($first = false)
			#else
				#if ($nav_item.isSelected())
					#set ($nav_item_class = "selected")
				#else
					#set ($nav_item_class = "")
				#end
				<li >
					#if (!$nav_item.hasChildren())
						<a href="$nav_item.getURL()"><span class="navbarlink">$nav_item.getName()</span></a>
					#else
					<li class="dropdown">
          <a href="#" class="" data-toggle="dropdown" role="button" aria-expanded="false"><span class="navbarlink">$nav_item.getName()</span> <img src="/xifi-theme/images/caret_hover.png" width="9px"/></a>
          <ul class="dropdown-menu" role="menu">
						
						
							#foreach ($nav_child in $nav_item.getChildren())
		

								<li class="$nav_child_class">
									<a href="$nav_child.getURL()" $nav_child.getTarget()>$nav_child.getName()</a>
								</li>
							#end
						</ul>
					#end
			   </li>
			   	#end
		#end
		#if (!$is_signed_in)
		
			<li><a data-redirect="$is_login_redirect_required" href="$sign_in_url" id="sign-in" rel="nofollow"><span class="navbarlink">$sign_in_text</span></a></li>
		#end
          </ul>
          <form class="navbar-form navbar-right navBarSearch">
            <input type="text" class="form-control " placeholder="Search...">
          </form>
        </div>
      </div>
    </nav>