<!DOCTYPE html>

#parse ($init)

<html class="$root_css_class" dir="#language ("lang.dir")" lang="$w3c_language_id">

<head>
	<title>$the_title - $company_name</title>

	<meta content="initial-scale=1.0, width=device-width" name="viewport" />

	$theme.include($top_head_include)
	<link href="/xifi-theme/css/bootstrap.min.css" rel="stylesheet">
	

    <!-- Custom styles for this template -->
    <link href="/xifi-theme/css/dashboard.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
</head>

<body class="$css_class">

<a href="#main-content" id="skip-to-content">#language ("skip-to-content")</a>

$theme.include($body_top_include)


<div class="container-fluid" id="wrapper">
	<header id="banner" role="banner">
		
		

		#if ($has_navigation || $is_signed_in)
			#parse ("$full_templates_path/navigation.vm")
		#end
	</header>
<nav id="breadcrumbs">#breadcrumbs()</nav>
	<div id="content">
		

		#if ($selectable)
			$theme.include($content_include)
		#else
			$portletDisplay.recycle()

			$portletDisplay.setTitle($the_title)

			$theme.wrapPortlet("portlet.vm", $content_include)
		#end
	</div>
	<nav class="navbar navbarbgcolor navbar-fixed-bottom">
  <span class="col-sm-5"></span> <span class="col-sm-2 navbarlink"><strong>&copy; Xebia India</strong></span> <span class="col-sm-5"></span>  </nav>
</div>

$theme.include($body_bottom_include)

$theme.include($bottom_include)
<!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="/xifi-theme/js/bootstrap.min.js"></script>
    
</body>

</html>